.name {
    text-align: center;
    color: yellow;
    word-break: break-word;
}
.stops {
    text-align: center;
    font-size: 40px;
    color: yellow;
    word-break: break-word;
}
.unknown {
    font-size: 30px;
}