<div class="title-bar">
    <span class="title">Please enter the distance in mega lights (MGLT):</span>
    <input type="number" [(ngModel)]="MGLT"/>
</div>
<div *ngIf="!isLoading" class="carrossel-container">
    <button [ngStyle]="{visibility: previousPage ? 'visible' : 'hidden'}" class="arrow-button" (click)="goToPreviousPage()"><-</button>
    <div class="carrossel">
        <starship
            *ngFor="let starship of starshipList"
            [APIResponse]="starship"
            [totalMGLT]="MGLT">
        </starship>
    </div>
    <button [ngStyle]="{visibility: nextPage ? 'visible' : 'hidden'}" class="arrow-button" (click)="goToNextPage()">-></button>
</div>
<div *ngIf="isLoading" class="loading">
    <img class="loading-img" src="../assets/loading.gif">
</div>
